:root {
  --bg-color: #acd501;
  --snake-color: #203000;
  --food-color: #203000;
  --svg-color: rgba(127, 152, 120, 0.306);
}

@font-face {
  font-family: arcade;
  src: url("arcade.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  font-family: arcade;
  font-size: 12px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 0px;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

svg {
  fill: var(--svg-color);
}


.how-to-play-phone {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.how-to-play-pc {
  display: none;
}

.snake-game {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#game {
  border: 5px solid var(--snake-color);
  background-color: var(--bg-color);
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(17, 1fr);
}

.hidden {
  opacity: 0;
  display: none !important;
}

.game-over {
  background-color: #abd501e8;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  z-index: 55;
}

.swipe {
  background-color: #abd501e1;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.swipe:after {
  content: "Swipe to start";
}

.swipe img {
  height: 70%;
  margin-bottom: 30px;
}
.going-up {
  transform: rotate(0);
}
.going-down {
  transform: rotate(180deg);
}
.going-left {
  transform: rotate(-90deg);
}
.going-right {
  transform: rotate(90deg);
}

.snake {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
  position: relative;
}

.snake-head {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
  position: relative;
  clip-path: polygon(51% 0, 80% 5%, 100% 41%, 100% 78%, 89% 100%, 12% 100%, 0 80%, 0% 43%, 20% 5%);
}

.snake-head::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 8%;
  width: 25%;
  height: 25%;
  background-color: var(--bg-color);
  clip-path: polygon(66% 0, 90% 11%, 100% 46%, 94% 88%, 69% 100%, 33% 100%, 14% 69%, 24% 38%, 40% 13%);
}



.snake-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 8%;
  width: 25%;
  height: 25%;
  background-color: var(--bg-color);
  clip-path: polygon(33% 0, 57% 13%, 74% 38%, 84% 69%, 68% 100%, 30% 100%, 6% 90%, 0 48%, 9% 11%);
} 

.snake-tail {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
}

.food {
  background-color: var(--food-color);
  border: 1px solid var(--bg-color);
  position: relative;
}

.food::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: var(--bg-color);
}

.score {
  font-family: arcade;
  font-size: 2rem;
  margin-bottom: 5px;
  border-bottom: 5px solid var(--snake-color);
}
.span-score {
  display: block;
  font-family: arcade;
  transform: translateY(10px);
}

.btn {
  background-color: var(--bg-color);
  color: var(--snake-color);
  border: 3px solid var(--snake-color);
  font-family: arcade;
  font-size: 1rem;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;

  z-index: 5;
}

.btn:hover {
  background-color: var(--snake-color);
  color: var(--bg-color);
}

#restart {
  z-index: 10;
}

#new-game {
  font-size: 1.4rem;
  padding-top: 6px;
}

.pause {
  background-color: var(--snake-color);
  color: var(--bg-color);
  border: 3px solid var(--snake-color);
}

/* phones in portrait mode */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .container {
    margin-top: 50px;
    justify-content: start;
  }
  .wrapper {
    height: 80%;
    flex-direction: column;
  }

  #how-to-play-up {
    display: none;
  }

  .how-to-play-phone {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  
  #game {
    width: 80vmin;
    height: 80vmin;
  }
  
  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 20px;
  }

  .swipe img {
    height: 30%;
  }


  .span-score {
    transform: translateY(8px);
  }

  .game-over {
    padding-top: 200px;
    justify-content: start;
  }
}

/* PC  */
@media screen and (width > 845px) {
  .container {
    margin-top: 50px;
    justify-content: start;
  }
  .btn {
    border: 6px solid var(--snake-color);
    font-size: 1.8rem;
    padding-top: 16px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 10px;
  }

  .how-to-play-phone {
    display: none;
  }
  .how-to-play-pc {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .keyboard-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
  }
  .key {
    display: grid;
    width: 80px;
    height: 80px;
    place-content: center;
    position: relative;
  }
  .key span {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-42%, -50%);
    font-size: 4rem;
    color: var(--svg-color);
  }

  .swipe {
    font-size: 6rem;
  }
  .swipe:after {
    content: "Click to start";
  }
  .swipe img {
    height: 50%;
  }

  .game-over {
    padding-top: 200px;
    justify-content: start;
    gap: 20px;
    font-size: 4rem;
  }

  #new-game {
    font-size: 3rem;
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1px;
  }
  .score {
    font-size: 4rem;
    margin-bottom: 10px;
    border-bottom: 10px solid var(--snake-color);
  }
  #game {
    border: 10px solid var(--snake-color);
  }
}
