:root {
  --bg-color: #acd501;
  --snake-color: #203000;
  --food-color: #203000;
}

@font-face {
  font-family: arcade;
  src: url("arcade.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0;
  background-color: var(--bg-color);
  position: relative;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  font-size: 12px;
  box-sizing: border-box;
  font-family: arcade;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.wrapper {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.snake-game {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#game {
  border: 5px solid var(--snake-color);
  background-color: var(--bg-color);
  width: 60vmin;
  height: 60vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.hidden {
  opacity: 0;
  display: none !important;
}

.game-over {
  background-color: #abd501e8;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
}

.swipe {
  font-family: arcade;
  background-color: #abd50198;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 3rem;
}

/* .going-up {
  transform: rotate(0);
}
.going-down {
  transform: rotate(180deg);
}
.going-left {
  transform: rotate(-90deg);
}
.going-right {
  transform: rotate(90deg);
} */

.snake {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
  position: relative;
}

.snake-head {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
  position: relative;
}

/* .snake-head::after {
  content: "";
  display: block;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 25%;
  background-color: var(--snake-color);
} */

/* .snake-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 35%;
  background-color: var(--bg-color);
}  */

.snake-tail {
  background-color: var(--snake-color);
  border: 1px solid var(--bg-color);
}

.food {
  background-color: var(--food-color);
  border: 1px solid var(--bg-color);
  position: relative;
}

.score {
  font-family: arcade;
  font-size: 2rem;
  
  margin-bottom: 5px;
  border-bottom: 5px solid var(--snake-color);
}
.span-score {
  display: block;
  font-family: arcade;
  transform: translateY(10px);
}

.btn {
  background-color: var(--bg-color);
  color: var(--snake-color);
  border: 3px solid var(--snake-color);
  font-size: 1rem;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: arcade;
}

#restart {
  z-index: 10;
  margin-bottom: 20px;
}

#new-game {
  font-size: 1.4rem;
  padding-top: 6px;
}

.pause {
  background-color: var(--snake-color);
  color: var(--bg-color);
  border: 3px solid var(--snake-color);
}

